html {
    scroll-behavior: smooth;
}

body {
    color: #161616;
}

a {
    color: #161616;
}

.visually-hidden {
    display: none;
}

.card-category {
    color: #d73953;
}

.section-tagline {
    color: #d73953;
}
/* Apuntar al elemento raíz (root) y definir las propiedades personalizadas */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}
/* Revisitar las declaraciones de section-tagline y card-category para usar color-primary */
.section-tagline, .card-category {
    color: var(--color-primary);
  }

  body, a {
    color: var(--text-color);
  }